<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Lab3</title>
        <link rel="stylesheet" href="/public/css/styles.min.css">
    </head>
    <body>
     <div class="topnav">
            <a href="http://localhost:3000/">Homepage</a>
            <a href="http://localhost:3000/popularsearches">What have people been searching for?</a>
             <form  class="form-inline" action="http://localhost:3000/search" method="post">
                <label for="search" class="navbar-brand">
                    Search for Shows
                </label>
                <input type="text" id="search" name="search">
                <button class="btn btn-primary" type="submit">Search</button>
            </form>
        </div>
            

        {{{body}}}
    </body>
</html>